.how-it-works-box {
  background: url("../images/bird.svg") center bottom no-repeat;
  padding: 20px 0 32px;
}

.features {
  .feature {
    text-align: center;
    margin-bottom: 28px;

    img {
      margin-bottom: 10px;
    }
  }
}

@include tablet {
  .how-it-works-box {
    background: url("../images/bird.svg") center bottom no-repeat;
    background-size: 50%;
    padding: 20px 0 40px;
  }
  
  .features {
    .feature {
      text-align: center;
    }
  }
}

@include desktop {
  .how-it-works-box {
    background: url("../images/bird.svg") center bottom no-repeat;
    padding: 80px 0;
  }

  .features {
    .feature {
      padding: 0 60px;

      &.margined {
        margin-top: 100px;
      }
    }
  }
}
