.modal-box {
  position: fixed;
  left: 0;
  right: 0;
  top: -1400px;
  z-index: -1;
  overflow-y: scroll;
  transition: 300ms;

  .modal {
    z-index: 15;
    position: relative;
    background:#f2f3f7;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: 0 53px 100px 0 rgba(39, 31, 45, 0.36);

    .modal-header {
      text-align: center;

      .close-modal {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 10px;

        &::before {
          content: url("../images/close-x.svg");
        }
      }
    }

    .modal-body {
      margin-top: 20px;
    }

    &.order {
      background: url("../images/white-bird-bg.svg") top left no-repeat, #f2f3f7;
    }

    &.error {
      background: url("../images/error-modal-bg.svg") center no-repeat, #fff;
      background-size: contain;
    }

    &.success {
      background: url("../images/success-modal-bg.svg") left bottom no-repeat, #fff;
    }
  }

  &.opened {
    top: 0;
    bottom: 0;
    z-index: 10;
  }
}

@include desktop {
  .modal-box {
    .modal {
      padding: 60px;

      .modal-header {
        .close-modal {
          position: absolute;
          top: 25px;
          right: 25px;
        }
      }

      .modal-body {
        margin-top: 40px;
      }
    }
  }
}
