.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-weight: normal;
  font-size: 25px;
  color: #27292D;
  margin-top: 0;
  margin-bottom: 20px;
}

.description {
  font-size: 13px;
  color: #767A85;
  margin-top: 0;
  margin-bottom: 20px;
}

.blue-background {
  background: #7598FF;
  padding: 20px;
}

.gray-background {
  background: #F2F3F7;
  padding: 20px;
}

@include desktop {
  .title {
    font-size: 35px;
  }
  
  .description {
    font-size: 15px;
  }
}
