.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-weight: normal;
  font-size: 25px;
  color: #27292D;
  margin-top: 0;
  margin-bottom: 20px;
}

.description {
  font-size: 13px;
  color: #767A85;
  margin-top: 0;
  margin-bottom: 20px;
}

.blue-background {
  background: #7598FF;
  padding: 20px;
}

.gray-background {
  background: #F2F3F7;
  padding: 20px;
}

.main-logo {
  display: block;
  height: 61px;
  width: 61px;
  background: url('../images/fotolibri-logo.svg') left center no-repeat;
  background-size: cover;
  flex-shrink: 0;
  flex-grow: 0;
}

.blue-text {
  color: #98B2FF;
}

.only-mobile {
  display: inline-block;
}

.only-desktop {
  display: none;
}

@include desktop {
  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: inline-block;
  }

  .title {
    font-size: 35px;
  }
  
  .description {
    font-size: 15px;
  }

  .main-logo {
    height: 69px;
    width: 187px;
  }
}
