.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-weight: normal;
  font-size: 25px;
  color: #27292D;
  margin-top: 0;
  margin-bottom: 20px;

  &.small {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.description {
  font-size: 13px;
  line-height: 20px;
  color: #767A85;
  margin-top: 0;
  margin-bottom: 20px;

  &.big {
    font-size: 15px;
  }
}

.blue-background {
  background: #7598FF;
  padding: 20px;
}

.gray-background {
  background: #F2F3F7;
  padding: 20px;
}

.main-logo {
  display: block;
  height: 61px;
  width: 61px;
  background: url('../images/fotolibri-logo.svg') left center no-repeat;
  background-size: cover;
  flex-shrink: 0;
  flex-grow: 0;
}

.blue-text {
  color: #98B2FF;
}

.only-mobile {
  display: inline-block !important;
}

.only-desktop {
  display: none !important;
}

.box-header {
  background: url('../images/square.svg') center top no-repeat;
  padding-top: 20px;
  margin-top: 30px;
  text-align: center;
}

@include desktop {
  .only-mobile {
    display: none !important;
  }

  .only-desktop {
    display: inline-block !important;
  }

  .title {
    font-size: 35px;

    &.small {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  
  .description {
    font-size: 15px;
    line-height: 25px;

    &.big {
      font-size: 18px;
    }
  }

  .main-logo {
    height: 69px;
    width: 187px;
  }
}
