@import "grid/main";
@import "slick/main";

@import "styles/support/normalize";
@import "styles/support/variables";
@import "styles/support/fonts";
@import "styles/support/mixins";
@import "styles/support/grid";
@import "styles/support/common";

@import "styles/components/buttons";
@import "styles/components/form";
@import "styles/components/modals";
@import "styles/components/header";

html {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 13px;

  &.overlay {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      background: black;
      opacity: 0.2;
    }
  }
}

@include tablet {
  body {
  }
}

@include desktop {
  body {
  }
}
